<div class="mt-4">
    <h3>Thêm Sách</h3>
    <form action="/courses/store" method="POST">
        <div class="form-group">
            <label for="name">Tên Sách</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="videoID">Video ID</label>
            <input type="text" class="form-control" id="videoID" name="videoID">
        </div>
        <div class="form-group">
            <label for="path">Path</label>
            <input type="text" class="form-control" id="path" name="path">
        </div>
        <button type="submit" class="btn btn-primary">Thêm Sách</button>

    </form>
</div>