<div class="search__form mt-5">
    <form method="POST" action="">
        <div class="form-group">
            <label>Key</label>
            <input type="text" class="form-control" name="key" placeholder="Enter key">
        </div>
        <div class="form-group">
            <select class="form-control" name="gender" placeholder="Enter key">
                <option value="">Chon</option>
                <option value="Nam">Nam</option>
                <option value="Nu">Nu</option>
            </select>

        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>