<div class="search__form mt-5">
    <form method="GET" action="/search?id=#products">
        <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="Enter key">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>